<div class="boxed">
    <div id="content-container">
		<div id="page-title">
            <h1 class="page-header text-overflow" id="ui-croDashboard">{{pageDetails.title}}</h1>
       		<button class="btn btn-danger pull-right" ng-show="pageDetails.title == 'CRO Dashboard'"
	       			ng-click="launchCallsApp()" id="ui-croDashboardCalls">CALLS</button>
        </div>
        <div id="page-content" ng-if="!isActivityView">
                    <div class="row">
					   <div class="panel">
					   	<div class="panel-heading">
					   		<div class="panel-title">
						   		<h1 class="page-header text-overflow pad-btm pull-left" id="ui-croDashboardNotifications">{{pageDetails.subTitle}}</h1>
						   		<div class="pull-right" style="margin: 5px 10px 0px 0px;">
						           <i class="demo-pli-repeat-2 icon-lg" ng-click="refreshGridData()"></i>
			                    </div>
		                    </div>
					       </div>
					       <div class="panel-body">
					         <div class="bootstrap-table">
					               <div class="fixed-table-toolbar">
					                   <div class="pad-btm columns columns-left btn-group pull-left">
											<div ng-show="showAcceptRejectBtn">
												<button class="btn btn-success" ng-disabled="!selectedRecords.length" ng-click="acceptOrReject('A')"
													style="margin-left: 10px;" >
													<i class="ion-checkmark"></i>Accept
												</button>
												<button class="btn btn-danger" ng-disabled="true" ng-click="acceptOrReject('R')"
													style="margin-left: 10px;" >
													<i class="ion-checkmark"></i>Reject
												</button>
					                   		</div>
					                   		<div class="pull-left form-inline mytc-filter" ng-show="pageTypeCode == 'MYTC'">
					                   			<div class="form-group">
					                   				<label class="control-label">Filter:</label>
						                   			<select class="form-control" placeholder="Select One" ng-model="myrelation.filterColumn">
						                   				<option value=""></option>
						                   				<option value="user.clientId">Client ID</option>
						                   				<option value="status">Status</option>
						                   				<option value="milestone">Milestone</option>
						                   				<option value="updatedBy">Last Updated By</option>
						                   			</select>
					                   			</div>
					                   			<span ng-show="myrelation.filterColumn != 'user.clientId'">
					                   			<div class="form-group">
					                   				<label class="control-label">Status:</label>
						                   			<select class="form-control" placeholder="Select One" ng-model="myrelation.filterValue">
						                   				<option ng-repeat="item in myrelation.statusList[myrelation.filterColumn]" value={{item.value}}>{{item.name}}</option>
						                   				<!-- <option value="status">Status</option>
						                   				<option value="milestone">Milestone</option> -->
						                   			</select>
					                   			</div>
					                   			
					                   			
					                   			</span>
					                   			<div ng-show="myrelation.filterColumn == 'user.clientId'" class="form-group">
					                   				<label class="control-label">Client ID</label>
					                   				<input class="form-control" type="text" ng-model="myrelation.filterValueText" />
					                   			</div>
					                   			<div class="form-group">
					                   				<button class="btn btn-info" ng-click="getGridJsons('MYTC')">Filter</button>
					                   				<button class="btn btn-mint" ng-click="clearMyRelationFilter()">Clear All</button>
					                   			</div>
					                   		</div>
					                   </div>
					              	   <div class="columns columns-right btn-group pull-right">
					                       <!-- <button class="btn btn-default">Go</button> -->
					                   </div>
					                   <div class="pull-right form-inline" ng-show="pageTypeCode == 'MYTC'">
					                       <!-- <input class="form-control" placeholder="Search By Name" type="text"> -->
					                       <div class="form-group">
				                   				<label class="control-label">Order :</label>
					                   			<select class="form-control" placeholder="Select One" ng-model="myrelation.orderColumn">
						                   				<option value=""></option>
						                   				<option value="objectId">Ticket Id</option>
						                   				<option value="user.firstName">Name</option>
						                   				<option value="assignee.firstName">Assignee</option>
						                   				<option value="statusCode">Status</option>
						                   				<option value="fileStatusCode">Milestone</option>
						                   				<option value="updatedBy">Updated By</option>
						                   				<option value="updatedDate">Updated On</option>
						                   			</select>
				                   			</div>
					                       <div class="form-group">
					                   			<select class="form-control" placeholder="Select One" ng-model="myrelation.orderType">
					                   				<option value="ASC">Ascending</option>
					                   				<option value="DESC">Descending</option>
					                   			</select>
				                   			</div>
				                   			<button class="btn btn-info"  ng-click="getGridJsons('MYTC')">Go</button>
					                   </div>
					               </div>
					               <div style="clear: both;">
					               	<hr class="hr-sm" ng-show="pageTypeCode == 'MYTC'">
					               </div>
					               <grid options="options" 
					                     totalcount="totalcount"
					               		 deleteitems="selectedlist"					               		 
					               		 callback-fn="gridRowClickFn(info)"
					               		 selected-items="selectedRecords"
					               	></grid>  
					               
					         </div>
					       </div>
					   </div>
					</div>
        </div>
        
        <div id="page-content" ng-if="isActivityView">
      			<div class="fluid">
			        <div class="panel">
			            <div id="demo-email-list" class="panel-body">
			                <h1 class="page-header text-overflow pad-btm">{{pageDetails.subTitle}} ({{totalcount}})</h1>
			
			                <div class="row">
			                    <div class="col-sm-7">
			                        <div class="btn-group">
			                            <div id="demo-checked-all-mail" class="btn btn-sm btn-default">
			                                <input id="select-all-mail" class="magic-checkbox" type="checkbox">
			                                <label for="select-all-mail"></label>
			                            </div>
			                            <button data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle"><i class="dropdown-caret"></i></button>
			                            <ul class="dropdown-menu">
			                                <li><a href="javascript:void(0)" id="demo-select-all-list">All</a></li>
			                                <li><a href="javascript:void(0)" id="demo-select-none-list">None</a></li>
			                                <li><a href="javascript:void(0)" id="demo-select-toggle-list">Toggle</a></li>
			                                <li class="divider"></li>
			                                <li><a href="javascript:void(0)" id="demo-select-read-list">Read</a></li>
			                                <li><a href="javascript:void(0)" id="demo-select-unread-list">Unread</a></li>
			                                <li><a href="javascript:void(0)" id="demo-select-starred-list">Starred</a></li>
			                            </ul>
			                        </div>
			
			                        <!--Refresh button-->
			                        <button ng-click="refreshGridData()" data-toggle="panel-overlay" data-target="#demo-email-list" class="btn btn-default btn-sm" type="button">
			                            <i class="demo-psi-repeat-2"></i>
			                        </button>
			
			                        <!--Dropdown button (More Action)-->
			                        <div class="btn-group">
			                            <button data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle" type="button">
			                                More <i class="dropdown-caret"></i>
			                            </button>
			                            <ul class="dropdown-menu">
			                                <li><a ng-click="moreOptions('isRead','T')" id="ui-croDashboardMarkRead">Mark as read</a></li>
			                                <li><a  ng-click="moreOptions('isRead','F')">Mark as unread</a></li>
			                                <li class="divider"></li>
			                                <li><a  ng-click="moreOptions('starred','T')" id="ui-croDashboardMarkStar">Star</a></li>
			                                <li><a  ng-click="moreOptions('starred','F')">Clear Star</a></li>
			                            </ul>
			                        </div>
			                    </div>
			                    <hr class="hr-sm visible-xs">
			                    
			                </div>
			                <hr class="hr-sm">
							<grid options="options" 
			                     totalcount="totalcount"
			               		 deleteitems="selectedlist"					               		 
			               		 callback-fn="gridRowClickFn(info)"
			               		 selected-items="selectedRecords"
			               	></grid>
			                
			            </div>
			        </div>
			    </div>
	    </div>
        <!-- <div id="page-content" ng-show="isActivityView = 'SR'">
        	<div class="fluid">
		        <div class="panel">
		            <div id="demo-email-list" class="panel-body">
		                <h1 class="page-header text-overflow pad-btm">{{pageDetails.subTitle}}</h1>
		                <div class="row">
		                	<grid options="options" 
			                     totalcount="totalcount"
			               		 deleteitems="selectedlist"					               		 
			               		 callback-fn="gridRowClickFn(info)"
			               		 selected-items="selectedRecords"
			               	></grid>
		                </div>
		            </div>
		        </div>
		    </div>
			                
        </div> -->
        
	</div>
</div>



<div class="modal" id="user-modal" role="dialog" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">

			<!--Modal header-->
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" >
					<i class="pci-cross pci-circle"></i>
				</button>
				<h4 class="modal-title">Assign To</h4>
			</div>

			<!--Modal body-->
			<div class="modal-body">

				<form class="form-horizontal">
					<div class="panel-body">
						<div class="form-group">
							<div class="col-sm-3">
								<select class="form-control" ng-change="changeOnUserSelect()" ng-model="selectUserType">
	                                <option value="">Select</option>
	                            	<option value="BA">CRO</option>
				                    <option value="TP">TPR</option>
				                    <option value="TC">TAX CONSULTANT</option>
				                    <option value="TF">TAX FILER</option>
	                            </select>
							</div>
							<div class="col-sm-7">
								<!-- <input type="text" placeholder="Search By Name"
									class="form-control" ng-model="selectedUserName" /> -->
							</div>
							<div class="col-sm-2">
								<!-- <button class="btn btn-info" data-dismiss="modal" ng-click="assign()">Assign</button> -->
							</div>
						</div>
						<div class="form-group single-row-header">
							<label class="col-sm-4 control-label" for="demo-hor-inputemail">Name</label>
							<label class="col-sm-4 control-label" for="demo-hor-inputemail">Email</label>
							<label class="col-sm-4 control-label" for="demo-hor-inputemail">No
								of tickets</label>
						</div>
						<div class="single-row">
							<div class="form-group bas-list"
								ng-repeat="item in userlist | filter : selectedUserName"
								ng-click="onBaSelect(item.objectId, item.name)">
								<label class="col-sm-4 control-label" for="demo-hor-inputemail">{{item.name}}</label>
								<label class="col-sm-4 control-label" for="demo-hor-inputemail">{{item.email}}</label>
								<label class="col-sm-4 control-label" for="demo-hor-inputemail" style='text-align: center;'>{{item.ticketCount}}</label>
							</div>
						</div>
						<!--  <div class="form-group">
		                        <label class="col-sm-3 control-label" for="demo-hor-inputemail">Details</label>
		                        <div class="col-sm-9">
		                           <textarea placeholder="Please Write something here" rows="8" class="form-control" ng-model="ticket.description"></textarea>
		                        </div>
		                    </div> -->
					</div>
				</form>
			</div>


			<!--Modal footer-->
			<!-- <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                    <button class="btn btn-primary" ng-click="createRequest(ticket)">Create Now</button>
                </div> -->
		</div>
	</div>
</div>